<div class="card text-center">
    <div class="card-header alert alert-danger" role="alert">
      <h2>Acceso denegado</h2> 
    </div>
    <div class="card-body">
      <h5 class="card-title">Fallo en el inicio de sesión</h5>
      <p class="alert" role="alert">Su nombre de usuario o contraseña son incorrectos, 
          por favor intente de nuevo</p>
      <a href="#" class="btn btn-success">Volver</a>
    </div>
    <div class="card-footer text-muted">
    </div>
  </div>